$background-primary: #fff;
$background-secondary: #f2f5f7;
$background-question: #6d6e71;
$background-button: #aea58e;
$background-overlay: rgba(0, 0, 0, 0.3);
$background-image-primary: linear-gradient(
  135deg,
  $background-secondary 0%,
  $background-primary 100%
);

$color-primary: #ffcf00;
$color-secondary: #fff;
$color-dark: #333;
$color-white: #fff;
$dark-light: #6d6e71;

$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;

$box-shadow-primary: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$header-outer-height: 70px;
$height-part-description: 120px;

$text-black-color: #000;
$text-white-color: #fff;
$light-dark-color: #999;

$time-warning-color: #ff0000;
